In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [ ]:
#两个数据类型  Series DataFrame

In [2]:
d=pd.Series(range(20))
d.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [3]:
d.cumsum() #计算前N项累加和

0       0
1       1
2       3
3       6
4      10
5      15
6      21
7      28
8      36
9      45
10     55
11     66
12     78
13     91
14    105
15    120
16    136
17    153
18    171
19    190
dtype: int64

# Series类型

In [6]:
#series类型由一组数据及与之相关的数据索引组成
b=pd.Series([6,5,4,3],index=['a','b','c','d']) #index可省略
c=pd.Series({'a':9,'b':8,'c':7})
d=pd.Series({'a':9,'b':8,'c':7},index=['c','a','b','d'])  #index从字典中进行选择操作
print(b)
print(c)
print(d)

a    6
b    5
c    4
d    3
dtype: int64
a    9
b    8
c    7
dtype: int64
c    7.0
a    9.0
b    8.0
d    NaN
dtype: float64

In [8]:
dd=d.index     #获取索引
#d.values      #获取索引
dd[1]

'a'

In [9]:
b[b>b.median()]

a    6
b    5
dtype: int64

### in

In [10]:
'c' in b #判键值是否在键值对当中

True

### get

In [11]:
b.get('f',100)  #从b中提取c对应的值，若值不在，则返回100

100

### 对齐操作

In [12]:
a=pd.Series([1,2,3],['c','d','e'])
a+b

a    NaN
b    NaN
c    5.0
d    5.0
e    NaN
dtype: float64

### name

In [13]:
b.name='对象值'
b.index.name='索引列'
b

索引列
a    6
b    5
c    4
d    3
Name: 对象值, dtype: int64

### 值修改

In [14]:
b['a','b']=54
b

索引列
a    54
b    54
c     4
d     3
Name: 对象值, dtype: int64

## DataFrame

In [16]:
f=pd.DataFrame(np.arange(10).reshape(2,5))

In [20]:
dic={'one':pd.Series([1,2,3,4],['a','b','c','d']),
    'two':pd.Series([4,6,7],['d','c','e'])}
g=pd.DataFrame(dic)

   one  two
a  1.0  NaN
b  2.0  NaN
c  3.0  6.0
d  4.0  4.0
e  NaN  7.0

In [22]:
d1={'城市':['北京','上海','广州','深圳','沈阳'],
   '环比':[101.5,101.2,101.3,102,100.1],
   '间比':[120.7,127.3,119.4,140.9,101.4],
   '定基':[121.4,127.8,120,145.5,101.6]}
d=pd.DataFrame(d1,index=['c1','c2','c3','c4','c5'])
d

    城市     环比     间比     定基
c1  北京  101.5  120.7  121.4
c2  上海  101.2  127.3  127.8
c3  广州  101.3  119.4  120.0
c4  深圳  102.0  140.9  145.5
c5  沈阳  100.1  101.4  101.6

In [23]:
print(d.index)
print(d.columns)
print(d.values)

Index(['c1', 'c2', 'c3', 'c4', 'c5'], dtype='object')
Index(['城市', '环比', '间比', '定基'], dtype='object')
[['北京' 101.5 120.7 121.4]
 ['上海' 101.2 127.3 127.8]
 ['广州' 101.3 119.4 120.0]
 ['深圳' 102.0 140.9 145.5]
 ['沈阳' 100.1 101.4 101.6]]

In [28]:
d2=d.reindex(index=['c5','c4','c3','c2','c1']) #重新定义标签
d2

    城市     环比     间比     定基
c5  沈阳  100.1  101.4  101.6
c4  深圳  102.0  140.9  145.5
c3  广州  101.3  119.4  120.0
c2  上海  101.2  127.3  127.8
c1  北京  101.5  120.7  121.4

In [29]:
d3=d.reindex(columns=['城市','间比','定基','环比'])  
# index,columns 新的行列自定义索引
#fill_value 重新所以中，用于填充缺失位置的值
#method 填充方法，reindex.ffill()当前向前填充，reindex.bfill()向后填充
#limit  最大填充量
#copy 默认True 生成新的对象，False时，新旧相等不复制
d3

    城市     间比     定基     环比
c1  北京  120.7  121.4  101.5
c2  上海  127.3  127.8  101.2
c3  广州  119.4  120.0  101.3
c4  深圳  140.9  145.5  102.0
c5  沈阳  101.4  101.6  100.1

In [30]:
newd=d.columns.insert(4,'新增')      #插入一列
newd

Index(['城市', '环比', '间比', '定基', '新增'], dtype='object')

In [31]:
newd=d.reindex(columns=newd,fill_value=200)
newd

    城市     环比     间比     定基   新增
c1  北京  101.5  120.7  121.4  200
c2  上海  101.2  127.3  127.8  200
c3  广州  101.3  119.4  120.0  200
c4  深圳  102.0  140.9  145.5  200
c5  沈阳  100.1  101.4  101.6  200

In [34]:
d.index

Index(['c1', 'c2', 'c3', 'c4', 'c5'], dtype='object')

In [37]:
newd2=d.index.insert(5,'c0')
newd2col=d.columns.delete(2)
newd2=d.reindex(index=newd2,columns=newd2col).ffill()
newd2

    城市     环比     定基
c1  北京  101.5  121.4
c2  上海  101.2  127.8
c3  广州  101.3  120.0
c4  深圳  102.0  145.5
c5  沈阳  100.1  101.6
c0  沈阳  100.1  101.6

### drop

In [38]:
a=pd.Series([9,8,7,6],index=['a','b','c','d'])
a.drop(['b','c'])

a    9
d    6
dtype: int64

In [40]:
newd2.drop('c0')

    城市     环比     定基
c1  北京  101.5  121.4
c2  上海  101.2  127.8
c3  广州  101.3  120.0
c4  深圳  102.0  145.5
c5  沈阳  100.1  101.6

In [42]:
newd.drop('新增',axis=1)

    城市     环比     间比     定基
c1  北京  101.5  120.7  121.4
c2  上海  101.2  127.3  127.8
c3  广州  101.3  119.4  120.0
c4  深圳  102.0  140.9  145.5
c5  沈阳  100.1  101.4  101.6

### 自动对齐

In [43]:
a=pd.DataFrame(np.arange(20).reshape(4,5))
b=pd.DataFrame(np.arange(12).reshape(3,4))
a+b

      0     1     2     3   4
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [45]:
b.add(a,fill_value=100)
#a.mul(b,fill_value=0)  #乘法  div除法
#a.add(b,fill_value=100)
#a.sub(b,axis=0)

       0      1      2      3      4
0    0.0    2.0    4.0    6.0  104.0
1    9.0   11.0   13.0   15.0  109.0
2   18.0   20.0   22.0   24.0  114.0
3  115.0  116.0  117.0  118.0  119.0

### 比较

In [46]:
#比较只能比较相同索引你的元素，不进行不起
c=pd.Series(np.arange(4))
c

0    0
1    1
2    2
3    3
dtype: int32

In [47]:
a>c

       0      1      2      3      4
0  False  False  False  False  False
1   True   True   True   True  False
2   True   True   True   True  False
3   True   True   True   True  False